$primary-black: #323232;
$primary-blue: #0095FF;
$primary-silver:#AFAFAF;
$primary-white:#FFFF;
$secondary-black:#000;
$secondary-mercury:#E1E1E1;
$secondary-blue:#0065AD;
$secondary-alabaster:#FAFAFA;