@font-face {
    font-family: "Avenir Next";
    src:url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format('truetype');
    font-style: normal;
    font-weight: 400;
  }
  
  
  @font-face {
    font-family: "Avenir Next";
    src: url();
    font-style: normal;
    font-weight: 700;
  }
  
  @mixin fontRegular {
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: 400;
  }

  
  @mixin fontBold {
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: 700;
  }
  